
.Title{
    font-weight: bold;
    width: 100%;
    font-style: normal;
    padding: 10px 20px 5px 20px;
    color: #8b8989;
    font-size: 130%;

}

.superstar{
    font-weight: bold;
    width: 100%;
    padding: 10px 10px 10px 20px;
    color: #0f0f0f;
    font-size: 130%;
}

.list{
    margin-left: 30px;
}

.container{
    display: flex;
    padding: 0px 0px 0px 30px;
}

.picture1 {
    padding: 30px;
    width: 10%;
    height: 20%;
    
}
.picture2{
    display: flex;
    max-width: 15%;
    padding: 20px 100px 10px 90px;
}

h3{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
    font-size: 150%;
}

.part1{
    background-color: white;
    margin: 30px;
    margin-top: 15px;
    border-radius: 10px;
    width: 60%;
    border: 2px solid rgb(151, 149, 149);
    padding: 10px;
    
}

.part2{
    background-color: white;
    margin: 30px;
    margin-top: 15px;
    margin-top: 15px;
    border-radius: 10px;
    width: 60%;
    border: 2px solid rgb(151, 149, 149);
    padding: 10px;

}
.part3{
    background-color: white;
    margin: 30px;
    margin-top: 15px;
    border-radius: 10px;
    width: 60%;
    border: 2px solid rgb(151, 149, 149);
    padding: 10px;
}

.container3{
    margin-top: 5px;
    padding: 10px;
    width: 90%;
    display: flex;
}
.container2{
    display: flex;
    color: rgb(14, 1, 1);
}

.WebDevelopment{
    font-size: 130%;

}

.UIDesign{
    font-size: 130%;

}

.Appdevelopment{
    font-size: 130%;
}

.copyright{
    font-size: 75%;
    color: #616060;
}

.paragraph{
    margin-right: 400px;
    margin-top: 10px;

}

